<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create SubTask</title>
</head>

<link rel="stylesheet" type="text/css" href="/css/main.css" />

<body>
<div id="instellingen">
    <form id="logout" th:action="@{/logout}" method="post">
        <input type="submit" th:value="#{logout}"/>
    </form>

    <div id="taal">
        <div id="lengte">
            <span th:text="#{lang.change}"></span>:
            <select id="mySelect" onchange="myFunction()">
                <option value=""></option>
                <option value="en" th:text="#{lang.en}"></option>
                <option value="fr" th:text="#{lang.fr}"></option>
                <option value="nl" th:text="#{lang.nl}"></option>
            </select>
        </div>
    </div>
</div>

<form method="post" action="/tasks/createSubTask" th:object="${subTask}">
    <h4 th:text="#{create_sub_task}"></h4>
    <div>
        <label for="naam" th:text="#{name}"></label>
        <input type="text" th:field="*{naam}">
        <p th:errors="*{naam}"></p>
    </div>
    <div>
        <label for="beschrijving" th:text="#{description}"></label>
        <input type="text" th:field="*{beschrijving}">
        <p th:errors="*{beschrijving}"></p>
    </div>
    <input type="submit" value="Create Sub Task">

    <p><a th:href="@{/}" th:text="#{home}"></a></p>
</form>




</body>

<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>

</html>