<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Show tasks</title>
    </head>

    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    <body>

    <div id="instellingen">
        <form id="logout" th:action="@{/logout}" method="post">
            <input type="submit"  th:value="#{logout}"/>
        </form>

        <div id="taal">
            <div id="lengte">
                <span th:text="#{lang.change}"></span>:
                <select id="mySelect" onchange="myFunction()">
                    <option value=""></option>
                    <option value="en" th:text="#{lang.en}"></option>
                    <option value="fr" th:text="#{lang.fr}"></option>
                    <option value="nl" th:text="#{lang.nl}"></option>
                </select>
            </div>
        </div>
    </div>

        <h2 th:if="${taskDetail == null}" th:text="#{}"></h2>

    <table th:if="${taskDetail != null}">

        <thead>
            <th colspan="3" th:text="#{description}"></th>
        </thead>

        <tbody>
            <tr>
                <th th:text="#{details}"></th>
                <td th:text="${taskDetail.naam}" colspan="2"></td>
            </tr>
            <tr>
                <th th:text="#{description}"></th>
                <td th:text="${taskDetail.beschrijving}" colspan="2"></td>
            </tr>
            <tr>
                <th th:text="#{due_date}"></th>
                <td th:text="${taskDetail.dateAndTimeOfBeheading}" colspan="2"></td>
            </tr>

            <tr th:each="subTask:${subTasks}">
                <th th:text="#{sub_task}"></th>
                <td th:text="${subTask.naam}"></td>
                <td th:text="${subTask.beschrijving}"></td>
            </tr>

            <tr>
                <td colspan="2"><a th:href="@{/}" th:text="#{home}"></a></td>
            </tr>
        </tbody>
    </table>
<p th:text="${errorMessage}"></p>

</body>

    <script type="text/javascript" src="/js/jquery-1.11.0.js"></script>

</html>